body{
    background-color: orange;
}


.mb-3{
    background-color: lightblue;
}

.card-title{
    text-align: center;
}

.card-text{
    text-align: center;
}

.card-img{
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.navbarimg{
    width:30;
    height:30;
}

.infotext{
    padding: 50px;
    text-align: center;
}
h1{
    padding: 50px;
    text-align: center;
}

.container-fluid{
    justify-content: center;
    padding: 30px;
}

.container{
    display: flex;
    justify-content: center;
    padding: 10px;
}